.well
  h1 О проекте Admin43
  p Этот портал предназначен для объединения Кировских системных администраторов и их работодателей. Общайтесь, создавайте тусовки, продвигайте резюме. Представители бизнеса могут создавать задачи и вакансии для системных администраторов Кирова. Здесь Вы сможете получить новые знания о различных аспектах системного администрирования.
