local: &local
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password:
  host: localhost

development:
  <<: *local
  database: admin43_dev

test:
  <<: *local
  database: admin43_test

production:
  <<: *local
  database: admin43_production