<p>Приветствую <%= @resource.email %>!</p>

<p>Кто-то запросил смену пароля. Если это были Вы, следуйте по ссылке ниже.</p>

<p><%= link_to 'Сменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это были не Вы, пожалуйста проигнорируйте это письмо.</p>
<p>Ваш пароль останется прежним..</p>
