<p>Приветствую <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован из-за большого количества неудачных попыток входа.</p>

<p>Нажмите на ссылку для разблокировки аккаунта:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
